<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog Post</title>
</head>
<body>
    <h2>Create Blog Post</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: green;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('create_post') }}">
        <label for="title" style="display:none">Title:</label>
        <input type="text" id="title" name="title" style="display:none"><br>
        <label for="content">Content:</label>
        <textarea id="content" name="content" cols="40" rows="10" required></textarea><br>
        <textarea id="parent" name="parent" style="display:none">null</textarea>
        <textarea id="grup" name="grup" style="display:none">null</textarea>
        <button type="submit">Create Post</button>
    </form>
    <p><a href="{{ url_for('dashboard') }}">Back to Dashboard</a></p>
</body>
</html>

<script>

document.addEventListener('DOMContentLoaded', function() {
    var queryString = window.location.search;
    var urlParams = new URLSearchParams(queryString);
    var aValue = urlParams.get('grup');
    if (aValue !== null){
        var grupField = document.getElementById("grup")
        grupField.innerHTML = aValue
    }
    console.log(aValue)
});
</script>